* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #353535;
  height: 300px;
}

.logo {
  height: 100%;
}

p {
  font-size: 2rem;
}

.success {
  color: green;
}

.error {
  color: red;
}