{% extends "base.html.twig" %}

{% block title %} Register success {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('style.css') }}">
{% endblock %}

{% block header %}
  <header>
    <img class="logo" src="{{ asset('img/logo.jpg') }}" alt="">
  </header>
{% endblock %}

{# Tela de sucesso #}
{% block body %}
  <p class="success">The user {{ name }} was registered successfully.</p>
  <a href="{{ url('web_user_list')}}">Back to home</a>
{% endblock %}